<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="text-align: center;"><h1>What does the cow say?</h1></header>
    <br>
    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <br>
    <pre>
    {% for line in text %}
    {{ line }}
    {% endfor %}
    </pre>
</body>
</html>